checkpoint/*
sample/*
gt_test/*
gt_train/*
input_ce_test/*
input_ce_train/*
input_gc_test/*
input_gc_train/*
input_test/*
input_train/*
input_wb_test/*
input_wb_train/*
testdata/*
vgg-pretrained/*
logs/*

__pycache__/
.idea/
*.pyc
*.pyo
*.pyd
venv/
env/
*.log
*.tmp
.DS_Store