absl-py==1.4.0
astor==0.8.1
bleach==6.1.0
cached-property==1.5.2
certifi==2024.8.30
cycler==0.12.1
enum34==1.1.10
gast==0.4.0
grpcio==1.59.0
h5py==3.9.0
html5lib==1.1
importlib-metadata==6.8.0
kiwisolver==1.4.5
Markdown==3.5.1
matplotlib==3.7.4
numpy==1.24.4
Pillow==10.1.0
protobuf==3.20.3
pyparsing==3.1.1
python-dateutil==2.8.2
scipy==1.7.3
six==1.16.0
tensorboard==1.15.0
tensorflow-gpu==1.15.5
termcolor==2.3.0
Werkzeug==2.2.3
zipp==3.20.2